<html>
    <head>
        <title>Insurance</title>

        <link rel="stylesheet" href="static\style.css" />

        <body>
            <h1 id="heading"><u>Insurance Premium charges prediction</u></h1>
            <p>It is a Insurance Premium charges prediction project.This project is used to determine or predict the charges according to the parameters entered by the user. </p>

    <a href="/project"> <button id="btn"> Go On Project</button></a>
       
        <br><br>
        <hr>
        <h1>My Profile</h1>
        <hr>
        <h2>Shalu Choudhary</h2>
            <p>Hello Everyone, I am Shalu Choudhary . Currently i pursuring my B.tech degree at Government Women Engineering College Ajmer, Rajasthan.This project is showcase my technical skills in the field of Data Science and Machine Learning. I have made various project to improve my technical skills. </p>
            <!--relative path-->
        <img src="./static/myimg.jpg" alt="" width="250">
        <hr> <br>
        <h2>Project Details</h2>
        <p>The Insurance Premium charges project is created by Python Programming, machine learning models, data integrity,Frontend wed designing, Machine learning Alogrithms such as Linear regression, Decision Tree regression or Random Forest Regression and Flask app. it predict the charges according to the user input. When user enters the input or parameters such as Age, No. of children a user have, user's region, user's gender, is user smoker or not, user's BMI, user's health criteria then the Insurance Premium charges of user will be show on the screen. </p>

        <footer>
        <hr>
        <h3 style="text-align:center">Thanks for visiting my profile<h4 style="text-align:center">choudharyshalu598@gmail.com</h4></h3>
        </footer>

        </body>
    </head>

    </html>